@import 'global.css';

.line_graph .VictoryContainer svg g g line {
    stroke: var(--text-color-normal) !important;
    stroke-width: 1.5px;
    stroke-opacity: 0.4;
}

.line_graph .VictoryContainer svg g g text tspan {
    fill: var(--text-color-normal) !important;
    opacity: 0.75;
    font-family: var(--font-family) !important;
    font-size: var(--font-size-graph) !important;
    font-weight: var(--font-weight-bold);
}

.line_graph .VictoryContainer svg g g path:first-of-type {
    fill: var(--primary-color) !important;
    fill-opacity: 0.3;
    stroke: none !important;
}

.line_graph .VictoryContainer svg g g path:last-of-type {
    fill: none !important;
    stroke: var(--primary-color) !important;
    stroke-width: 2.5;
}